@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Raleway';
}
.App
{
display: flex;
width: 100vw;
min-height: 100vh;
}
.condiv
{
padding: 100px ;
background-color: #f4f5f9;
flex:var(--condiv-flex);
}

nav
{
padding:60px 30px 0px 30px ;
flex:var(--sidebar-flex);
background: rgb(145, 170, 238);
background: linear-gradient(180deg, rgb(145, 170, 238) 50%, rgb(100, 91, 219) 80%);
}
nav ul
{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  margin:40px;
}

/* css for active class */
.active
{
font-weight: bolder;
}
.social
{
position: absolute;
margin-top: 20px;
display: flex;
bottom: 60px;
}
.social i
{
padding-right: 30px;
font-size: 25px;
color: #9a9b9c;
}
.social i:hover
{
color: #ffffff;
}
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}
.widecard
{
border:0px solid #9a9b9c;
display: flex;
margin:30px 0px 30px 0px;
}
.widecard:hover
{
color: #1b1d20;
background-color: #ffffff;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button_style{
color: white;
background-color: rgb(135, 97, 206);
  border: none;
  text-align: center;
  margin-left:10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 15px;
}
.label_css{
  font-size: larger;
  font-weight: bold;
  color: rgb(135, 97, 206);
  margin-right: 30px;
}


.card{
  margin-top: 70px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
 


}

.cardtext{
  font-style: normal;
  font-size: 20px;
  color: rgb(135, 97, 206);
  
}
.cardtitle{
  margin-left: 10%;
  font-style: italic;
  font-size: 20px;
  color: rgb(100, 91, 219) ;
}

.imgcard{
  width: 300px;
  height: 300px;
  margin-right: 40px;
}

.header{
  height: 80px;;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9TOi4LOW56FNgAcIfefjV_rUzrfrT7hXs4k9FvfuI1k3HyO3J);
  
}